.dimmedBackground {
  position: absolute;
  top: 0;
  z-index: 40;
  height: calc(100% * 10);
  width: 100%;
  transition: all ease-out 0.3s;
  .cart {
    position: absolute;
    top: 0;
    background: white;
    height: 100%;
    overflow: scroll;
    width: 400px;
    transition: all ease-out 0.3s;
    padding: 0 30px;
    pointer-events: auto;
    .close {
      width: 50px;
      margin-left: auto;
      cursor: pointer;
      font-weight: 200;
      margin-top: 20px;
      font-size: 12px;
    }
    h3 {
      margin-top: 50px;
      border-bottom: thin solid black;
      padding-bottom: 10px;
      font-weight: 400;
    }

    .cartItem {
      margin-top: 10px;
      border-bottom: thin black solid;
      .topCartItem {
        font-weight: 200;
        display: flex;
        justify-content: space-between;
        img {
          border: thin black solid;
          width: 120px;
          height: auto;
          align-self: center;
        }
        .infoRight {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 150px;
          li {
            font-size: 14px;
            list-style: none;
            margin-bottom: 5px;
          }
          .price {
            font-size: 14px;
            margin-left: auto;
          }
          .add_minus {
            margin-left: auto;
            width: 80px;
            display: flex;
            justify-content: space-between;
            img {
              width: 15px;
              padding: 2px;
              height: auto;
            }
          }
          .itemAmount {
            display: flex;
            justify-content: space-evenly;
            img {
              width: 12px;
              height: auto;
              align-self: center;
              border: none;
            }
          }
        }
      }
      button {
        margin: 20px 0;
        width: 100%;
        height: 20px;
        color: black;
        border: none;
        border: thin solid black;
        background: none;
        cursor: pointer;
      }
    }
  }
  footer {
    width: 100%;
    margin-top: 40px;
    .subtotal {
      font-weight: 400;
    }
    button {
      width: 100%;
      background: black;
      color: white;
      border: none;
      height: 50px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .dimmedBackground {
    .cart {
      width: 100%;
      padding: 0 20px;
    }
    footer {
      width: 100%;
      margin-top: 20px;
      button {
        width: 100%;
        background: black;
        color: white;
        border: none;
        height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .dimmedBackground {
    .cart {
      .cartItem {
        .topCartItem {
          img {
            width: 100px;
          }
          .infoRight {
            width: 120px;
            .add_minus {
              margin-left: auto;
              width: 80px;
              display: flex;
              justify-content: space-between;
              img {
                width: 12px;
                padding: 2px;
                height: auto;
              }
            }
            li {
              font-size: 12px;
            }
            .price {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
