.dimmedBackground {
  position: absolute;
  top: 0;
  z-index: 40;
  height: calc(100% * 10);
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.dimmedBackground .cart {
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  overflow: scroll;
  width: 400px;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  padding: 0 30px;
  pointer-events: auto;
}

.dimmedBackground .cart .close {
  width: 50px;
  margin-left: auto;
  cursor: pointer;
  font-weight: 200;
  margin-top: 20px;
  font-size: 12px;
}

.dimmedBackground .cart h3 {
  margin-top: 50px;
  border-bottom: thin solid black;
  padding-bottom: 10px;
  font-weight: 400;
}

.dimmedBackground .cart .cartItem {
  margin-top: 10px;
  border-bottom: thin black solid;
}

.dimmedBackground .cart .cartItem .topCartItem {
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dimmedBackground .cart .cartItem .topCartItem img {
  border: thin black solid;
  width: 120px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 5px;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight .price {
  font-size: 14px;
  margin-left: auto;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight .add_minus {
  margin-left: auto;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight .add_minus img {
  width: 15px;
  padding: 2px;
  height: auto;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight .itemAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dimmedBackground .cart .cartItem .topCartItem .infoRight .itemAmount img {
  width: 12px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
}

.dimmedBackground .cart .cartItem button {
  margin: 20px 0;
  width: 100%;
  height: 20px;
  color: black;
  border: none;
  border: thin solid black;
  background: none;
  cursor: pointer;
}

.dimmedBackground footer {
  width: 100%;
  margin-top: 40px;
}

.dimmedBackground footer .subtotal {
  font-weight: 400;
}

.dimmedBackground footer button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 450px) {
  .dimmedBackground .cart {
    width: 100%;
    padding: 0 20px;
  }
  .dimmedBackground footer {
    width: 100%;
    margin-top: 20px;
  }
  .dimmedBackground footer button {
    width: 100%;
    background: black;
    color: white;
    border: none;
    height: 40px;
  }
}

@media only screen and (max-width: 300px) {
  .dimmedBackground .cart .cartItem .topCartItem img {
    width: 100px;
  }
  .dimmedBackground .cart .cartItem .topCartItem .infoRight {
    width: 120px;
  }
  .dimmedBackground .cart .cartItem .topCartItem .infoRight .add_minus {
    margin-left: auto;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dimmedBackground .cart .cartItem .topCartItem .infoRight .add_minus img {
    width: 12px;
    padding: 2px;
    height: auto;
  }
  .dimmedBackground .cart .cartItem .topCartItem .infoRight li {
    font-size: 12px;
  }
  .dimmedBackground .cart .cartItem .topCartItem .infoRight .price {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */