.home {
  margin-bottom: 150px;
  text-align: center;
  padding: 0 80px;
  .video {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    position: relative;
    video {
      width: 100%;
    }
    .description {
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
      position: absolute;
      text-align: center;
      ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        li {
          &:nth-child(1) {
            font-size: 20px;
            font-weight: 600;
            margin-top: -10px;
          }
          &:nth-child(2) {
            font-size: 40px;
            font-weight: 600;
          }
          &:nth-child(3) {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: -10px;
          }
        }
      }
    }
  }
  .newArrivals {
    margin-top: 100px;
    .arrivalGrid {
      align-items: center;
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 100px 50px;
      justify-items: center;
      .imageContainer {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .imageLabel {
          font-size: 14px;
          margin-top: 30px;
          font-weight: 200;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    padding: 0 50px;
    .video {
      width: 100%;
      .description {
        ul {
          li {
            &:nth-child(1) {
              font-size: 15px;
              font-weight: 600;
            }
            &:nth-child(2) {
              font-size: 30px;
              font-weight: 600;
            }
            &:nth-child(3) {
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home {
    padding: 0 50px;
    .video {
      .description {
        ul {
          li {
            &:nth-child(1) {
              font-size: 10px;
              font-weight: 600;
              margin-top: 20px;
            }
            &:nth-child(2) {
              font-size: 20px;
              font-weight: 600;
            }
            &:nth-child(3) {
              font-size: 10px;
              font-weight: 600;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .home {
    padding: 0 20px;
    .video {
      .description {
        ul {
          li {
            &:nth-child(1) {
              font-size: 10px;
              font-weight: 600;
            }
            &:nth-child(2) {
              font-size: 10px;
              font-weight: 600;
            }
            &:nth-child(3) {
              font-size: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .newArrivals {
      .arrivalGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}
