.positionHolder {
  position: fixed;
  z-index: 420;
  top: 0;
  height: 1%;
  width: 100vw;

  .mobileMenu {
    overflow: scroll;
    color: white;
    position: absolute;
    top: 0;
    z-index: 40;
    height: calc(100% * 100);
    width: 100%;
    background-color: black;
    transition: all ease-out 0.3s;
    h3 {
      width: 80px;
      margin: 50px 0;
      margin-left: auto;
      font-weight: 200;
      font-size: 14px;
    }
    ul {
      margin-top: 100px;
      li {
        font-size: 20px;
        margin-bottom: 50px;
        padding: 0 50px;
        &:nth-child(1) {
          display: flex;
          justify-content: space-between;
        }
      }
      .shopDropdown {
        transition: all ease 0.5s;
        overflow: hidden;
        font-weight: 200;
        margin-top: 0;
        li {
          margin: 20px 0;
          &:nth-child(1) {
            margin-top: 0;
          }
          &:nth-child(4) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
